.popup_container {
    position: fixed;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    gap: 1rem;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-height: 100%;
    padding: 1rem;
    background-color: white;
}


.button {
    padding: 0.5rem;
    cursor: pointer;
    background-color: white;
    outline: none;
    border: 1px solid black;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(215, 215, 215);
}

.button.close:hover {
    background-color: rgb(255, 160, 160);
}